.papa-container{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    border-radius:20px;
    padding:20px;
    justify-content: center;
    margin:0px 50px 10px;
    flex-wrap:wrap
}

.top{
    display:flex;
    margin-bottom:10px;
    align-items: center;
    gap:20px;
}

.bottom{
    display:flex;
    margin-top:10px;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.block{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
}
.imgHow{
  height: 90px;
  object-fit: contain;
}

.arrow{
    object-fit: contain;
    height: 80px;
}

.blocktext{
    max-width: 100px;
    flex-shrink: 2;
}
.inlinetext{
    max-width: 200px;
    flex-shrink: 2;
}